.img-wrapper {
    display: inline-block; /* change the default display type to inline-block */
    overflow: hidden;      /* hide the overflow */
    border-radius: 12px;
    max-height: 400px;
}

.collapse-detail{
    padding: 2em;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.122);
    backdrop-filter: blur(9.1px);
    -webkit-backdrop-filter: blur(9.1px);
}